<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shoppingbuddy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ItemDetails"
            android:label="@string/title_activity_item_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SelectProduct"
            android:label="@string/title_activity_select_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditorRemoveProduct"
            android:label="@string/title_activity_editor_remove_product"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".CellphonesElectronicsProductList"
            android:label="@string/title_activity_cellphones_electronics_product_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TvandComputersProductList"
            android:label="@string/title_activity_tvandcomputers_electronics_product_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MensAccessoriesProductList"
            android:label="@string/title_activity_mens_accessories_product_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KidsClothingProductList"
            android:label="@string/title_activity_kids_clothing_product_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WomenAccessoriesProductList"
            android:label="@string/title_activity_women_accessories_product_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WomensClothingProductList"
            android:label="@string/title_activity_womens_clothing_product_list"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ClothingProductList"
            android:label="@string/title_activity_clothing_product_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddProductActivity"
            android:label="@string/title_activity_add_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminHomeActivity"
            android:label="@string/title_activity_admin_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AdminLoginActivity" />
        <activity
            android:name=".ElectronicsActivity"
            android:label="@string/title_activity_electronics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClothingActivity"
            android:label="@string/title_activity_clothing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccessoriesActivity"
            android:label="@string/title_activity_accessories"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ForgotPassword" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SigninActivity"
            android:label="@string/title_activity_signin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>