<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shoppingbuddy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SelectPromocodeActivity"
            android:label="@string/title_activity_select_promocode"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".EditorRemovePromo"
            android:label="@string/title_activity_editor_remove_promo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Contactus"
            android:label="@string/title_activity_contactus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChangePassword"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserHistoryActivity"
            android:label="Users History"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserOrdersActivity"
            android:label="User Orders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Orders_Product_List"
            android:label="Orders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShippingAddressActivity"
            android:label="Shipping Address"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MensFootwearProducts"
            android:label="Men&apos;s Footwear"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminPromoActivity"
            android:label="@string/title_activity_admin_promo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PaymentActivity"
            android:label="Payment" />
        <activity
            android:name=".Footwear"
            android:label="Footwear"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Footwear_Item_Details"
            android:label="Product Details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CartActivity"
            android:label="cart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Clothing_Item_Details"
            android:label="Product Details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemDetails"
            android:label="Product Details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectProduct"
            android:label="Search Product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditorRemoveProduct"
            android:label="Edit Product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CellphonesElectronicsProductList"
            android:label="Cellphones"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TvandComputersProductList"
            android:label="TV and Computers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MensAccessoriesProductList"
            android:label="Men&apos;s Accessories"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KidsClothingProductList"
            android:label="Kid&apos;s Clothing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WomenAccessoriesProductList"
            android:label="Women&apos;s Accessories"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WomensClothingProductList"
            android:label="Women&apos;s Clothing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClothingProductList"
            android:label="Products List"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddProductActivity"
            android:label="Add Product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminHomeActivity"
            android:label="Admin Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AdminLoginActivity" />
        <activity
            android:name=".ElectronicsActivity"
            android:label="Electronics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClothingActivity"
            android:label="Clothing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccessoriesActivity"
            android:label="Accessories"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ForgotPassword" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SigninActivity"
            android:label="shoppingBuddy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="shoppingBuddy"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>